/**
 * @file
 * Custom CSS for Pure (YUI Grid) theme to deal with some Drupal specifics.
 */

/**
 * Override cssfonts.css setting a 12px font size.
 */
body {
  font-size: inherit; /* Inherit 16px font-size from cssnormalize */
}

/**
 * Pager styling to improve Pure paginator integration with Drupal.
 */
.item-list .pager li {
  display: inline-block; /* Override system.theme.css pager styles */
  padding: 0;
  margin: 0;
}
.pure-paginator li.pager-current {
  padding: .8em 1.4em; /* Make active pager item the same size as anchors */
}

/**
 * Achor styling for softer link colours.
 */
a {
  color: #3b8bba;
  text-decoration: none;
}
a:visited {
  color: #265778;
}

/**
 * Tabs styling, adapted from system.menus.css and Bartik.
 */
.tabs {
  margin-bottom: 1em;
}
.tabs ul li a {
  color: #444;
}
.tabs ul.primary {
  padding: 0.2em 0.3em;
  margin: 0;
  overflow: hidden;
  border: none;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 0.5em 0 0; /* LTR */
}

.tabs ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 0.4em;
}
.tabs ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
.tabs ul.secondary a {
  padding: 0;
  text-decoration: none;
}
.tabs ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/**
 * Layout styles.
 */
#hd {
  padding: 1em 0;
}
#hd .site-info,
#hd .region-header {
  display: inline-block;
  width: 50%;
  float: left;
}
#hd .region-header div {
  float: right;
  clear: both;
}
#hd #primary-menu {
  clear: both;
}
.site-menu ul {
  margin: 0; /* Remove margin on primary and secondary menus */
}

#main .main-inner,
#sidebar .region-sidebar {
  padding: 0.5em;
}
